<!DOCTYPE html>
<html>
   <body>
      <div id='messages-fragment'>
         
         <div th:if="${errorMessage != null}"  class="row w-100 mx-auto">
            <div class="col">
               <div class="alert alert-danger">
                  <span th:utext="${errorMessage}"></span>
                  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>               </div>
            </div>
         </div>

         <div th:if="${successMessage != null}"  class="row w-100 mx-auto">
            <div class="col">
               <div class="alert alert-success">
                  <span th:utext="${successMessage}"></span>
                  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>               </div>
            </div>
         </div>

         <div th:if="${warningMessage != null}" class="row w-100 mx-auto">
            <div class="col">
               <div class="alert alert-warning">
                  <span th:utext="${warningMessage}"></span>
                  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
            </div>
         </div>
         
      </div>
   </body>
</html>

