

@font-face {
    font-family: "Roboto";
    src: url("fuentes/Roboto-Regular.ttf");
}

p{
    font-family: Roboto, sans-serif;
}

h2{
    font-family: Roboto, sans-serif;
}

.show-password-icon {
    float: right;
    position: relative;
    margin: -45px -30px 0 0;
    cursor: pointer;
    font-size: 25px;
}

.show-password-icon-index {
    float: right;
    position: relative;
    margin: -5px 0 0 0;
    cursor: pointer;
    font-size: 30px;
}


.register-background-color{
    background-color:#d7e7f2;
}

.register-button-color{
    background-color:#1d70a2;
}

.register-custom-btn {
    width: 500px;
    padding: 10px;
}

.wrong{
    border-color: red;
}
.wrong:focus{
    border-color: red;
    box-shadow: 0 0 5px red;
}

.acierto:focus{
    border-color: green;
    box-shadow: 0 0 5px green;
}
.acierto{
    border-color: green;
}

.hide_alert{
    display: none;
}

.show_alert{
    display: inline;
}

.logo_tamano{
    width: 275px;
    height: 65px;
}

.home-letter-nav {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.tam-car-fot{
    width: 200px ;
    height: 425px;
}


.carousel-border{
    border: 5px solid #1B4353;
}

.search-tamano{
    width: 15%;
}

.tam-car-fot-car-prof{
    height: 200px;
}

.iconx-size{
    font-size: 60px;
}



