<!DOCTYPE html>
<html lang="en">
<header th:replace="tools/package :: #package-include"></header>
<header id="header-include-nr" style="background-color: #173753">
    <nav class="navbar navbar-expand" id="nav">
        <div class="container col-md-12 col-sm-6 mt-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-dark navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-lg-2">
                        <a href="/">
                            <img src="/images/logo.png" alt="Error al cargar la imagen" class="logo_tamano"
                                 style="width: 70% ; height: 70%">
                        </a>
                    </li>

                    <li class="nav-item mx-lg-2 mt-3">
                        <div th:if="${principal != null}">
                            <form th:action="@{/catalog}">
                                <div class="input-group" style="width: 80%">
                                    <div class="input-group-prepend">
                                        <input type="hidden" name="start" value="0"/>
                                        <select class="form-select rounded-0 "
                                                style="background-color:  #d4e4f4"
                                                id="cat1"
                                                name="category">
                                            <option>Todos</option>
                                            <option>Forense</option>
                                            <option>Criptografia</option>
                                            <option>Infraestructura</option>
                                            <option>Virus</option>
                                            <option>Malware</option>
                                            <option>Nube</option>
                                            <option>Red</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="filter" value="1"/>
                                    <input name="word" type="text" class="form-control"
                                           aria-label="Text input with dropdown button">
                                    <button type="submit" class="btn btn-light rounded-0"
                                            style="background-color:  #d4e4f4 "><i
                                            class="bi bi-search"></i></button>

                                </div>
                            </form>
                        </div>
                    </li>


                    <li class="nav-item mx-lg-2 mt-3">
                        <div th:if="${principal == null}">
                            <a class="nav-link" style="color: white; font-size: 16px; font-weight: bold"
                               href="register">Regístrate</a>
                        </div>
                    </li>

                    <li class="nav-item mx-lg-2 mt-3">
                        <a class="nav-item nav-link home-letter-nav" style="font-size: 16px"
                           th:href="@{/catalog(start=0, category= 'Todos', word='', filter=1)}">Catálogo</a>
                    </li>

                    <li class="nav-item mx-lg-2 mt-3">
                        <div th:if="${principal == null}">
                            <a class="nav-link" style="color: white; font-size: 16px; font-weight: bold"
                               href="#loginModal"
                               data-bs-toggle="modal">Inicia Sesión</a>
                        </div>
                    </li>

                    <li class="nav-item mx-lg-2 mt-3">
                        <div th:if="${principal != null}">
                            <a class="nav-item nav-link home-letter-nav" data-method="post" th:href="@{/logout}"
                               style="font-size: 16px">Cerrar sesión</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <script>
        const navbarToggler = document.getElementById("nav");

        function checkWindowSize() {
            if (window.innerWidth < 1200) {
                navbarToggler.className = "navbar";
            } else {
                navbarToggler.className = "navbar navbar-expand-md";
            }
        }

        checkWindowSize();
        window.addEventListener('resize', checkWindowSize);

    </script>
</header>


<body>
<div class="container">
    <div class="row mt-2">
        <div th:replace="tools/Messages :: #messages-fragment"></div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col">
            <a href="/">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left"></i> Atrás
                </button>
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="col-8">
                <form id="catalogForm" th:action="@{/catalog}">
                    <input type="hidden" name="start" th:value="${CatalogDtoForm.start}"/>
                    <input type="hidden" name="category" th:value="${CatalogDtoForm.category}"/>
                    <input type="hidden" name="word" th:value="${CatalogDtoForm.word}"/>
                    <label for="cat2"></label>
                    <select class="form-select rounded-0 " style="background-color:  #d4e4f4" id="cat2"
                            onchange="document.getElementById('catalogForm').submit();"
                            name="filter">
                        <option value="1" th:selected="${CatalogDtoForm.filter == 1}">Ordenar por: Destacados</option>
                        <option value="2" th:selected="${CatalogDtoForm.filter == 2}">Ordenar por: Precio de menor a
                            mayor
                        </option>
                        <option value="3" th:selected="${CatalogDtoForm.filter == 3}">Ordenar por: Precio de mayor a
                            menor
                        </option>
                        <option value="4" th:selected="${CatalogDtoForm.filter == 4}">Ordenar por: Mejor puntuación
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3" th:each="course : ${CourseDtoForm}">
        <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                <img th:src="'data:' + ${course.imageType} + ';base64,' + ${course.image}"
                                     alt="Profile image" style="width: 100%; height: 100%;"
                                     class="w-100"/>
                                <a href="#!">
                                    <div class="hover-overlay">
                                        <div class="mask"
                                             style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <h5 th:text="${course.courseName}"></h5>
                            <div class="d-flex flex-row">
                                <div class="col-sm-6 col-md-4 col-lg-2 mb-1 me-2">
                                    <div id="ratingStars"></div>
                                </div>
                            </div>
                            <a th:href="@{'/course/'+ ${course.id} + '/seecomments'(start=0)}">
                                <span th:text="${course.totalComments + ' comentarios'}"></span>
                            </a>
                            <input class="stars" type="hidden" name="stars" th:value="${course.grade}">
                            <div class="mt-1 mb-0 text-muted small">
                                <span class="text-primary"> • </span>
                                <span th:text="${course.category}"></span>
                            </div>
                            <p class="mb-4 mb-md-0" th:text="${course.description}"></p>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 align-self-center">
                            <div class="d-flex flex-row align-items-center mb-1">
                                <h4 class="mb-1 me-1" th:text="${course.price + ' €'}"></h4>
                            </div>
                            <div th:if="${principal == null}" class="d-flex flex-column mt-4">
                                <button data-bs-toggle="modal" href="#loginModal" class="btn btn-primary btn-sm"
                                        type="button"
                                >Inscribirse
                                </button>
                            </div>
                            <div th:if="${principal != null}" class="d-flex flex-column mt-4">
                                <form th:action="@{/sigon/{courseId}(courseId=${course.id})}" method="post">
                                    <button
                                            class="btn btn-primary btn-md" style="height: 100%" type="submit"
                                    >Inscribirse
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <input type="hidden" id="hiddenStart" th:value="${CatalogDtoForm.start}"/>
        <input type="hidden" id="hiddenCatalog" th:value="${CatalogDtoForm.filter}"/>
        <input type="hidden" id="hiddenCategory" th:value="${CatalogDtoForm.category}"/>
        <input type="hidden" id="hiddenWord" th:value="${CatalogDtoForm.word}"/>

        <ul class="pagination justify-content-end">
            <li class="page-item"><a id="previous" class="page-link" style="cursor: pointer"
                                     onclick="updatePreviusLink()">Anterior</a></li>
            <li class="page-item">
                <a th:if="${CatalogDtoForm.word == null && CatalogDtoForm.category==null}" class="page-link"
                   th:href="@{/catalog(start=0,category='Todos', word = '',filter=${CatalogDtoForm.filter})}">1</a>
                <a th:if="${CatalogDtoForm.word != null && CatalogDtoForm.category!=null}" class="page-link"
                   th:href="@{/catalog(start=0,category=${CatalogDtoForm.category}, word= ${CatalogDtoForm.word}, filter=${CatalogDtoForm.filter})}">1</a>
            </li>
            <li class="page-item">

                <a th:if="${CatalogDtoForm.word == null && CatalogDtoForm.category==null}" class="page-link"
                   th:href="@{/catalog(start=5, category='Todos', word = '', filter=${CatalogDtoForm.filter})}">2</a>
                <a th:if="${CatalogDtoForm.word != null && CatalogDtoForm.category!=null}" class="page-link"
                   th:href="@{/catalog(start=5,category=${CatalogDtoForm.category}, word= ${CatalogDtoForm.word}, filter=${CatalogDtoForm.filter})}">2</a>
            </li>
            <li class="page-item">
                <a th:if="${CatalogDtoForm.word == null && CatalogDtoForm.category==null}" class="page-link"
                   th:href="@{/catalog(start=10, category='Todos', word = '',filter=${CatalogDtoForm.filter})}">3</a>
                <a th:if="${CatalogDtoForm.word != null && CatalogDtoForm.category!=null}" class="page-link"
                   th:href="@{/catalog(start=10,category=${CatalogDtoForm.category}, word= ${CatalogDtoForm.word},filter=${CatalogDtoForm.filter})}">3</a>
            </li>
            <li class="page-item"><a id="next" class="page-link" style="cursor: pointer" onclick="updateNextLink()">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="login :: #loginModal"></div>
</body>
<footer th:replace="tools/footer :: #footer-include"></footer>

<script>
    function updateNextLink() {
        var hiddenStart = parseInt(document.getElementById("hiddenStart").value) + 5;
        var hiddenCatalog = parseInt(document.getElementById("hiddenCatalog").value);
        var hiddenCategory = document.getElementById("hiddenCategory").value;
        var hiddenWord = document.getElementById("hiddenWord").value;
        var next = document.getElementById("next");

        if (hiddenWord != null && hiddenCategory != null) {
            newHref = '/catalog?start=' + hiddenStart + '&category=' + hiddenCategory + '&word=' + hiddenWord + '&filter=' + hiddenCatalog;
            next.setAttribute("href", newHref);
        } else {
            newHref = '/catalog?start=' + hiddenStart + '&category=' + 'Todos' + '&word=' + '' + '&filter=' + hiddenCatalog;
            next.setAttribute("href", newHref);
        }
    }

    function updatePreviusLink() {
        var hiddenStart = parseInt(document.getElementById("hiddenStart").value) - 5;
        var hiddenCatalog = parseInt(document.getElementById("hiddenCatalog").value);
        var hiddenCategory = document.getElementById("hiddenCategory").value;
        var hiddenWord = document.getElementById("hiddenWord").value;
        var previous = document.getElementById("previous");
        var newHref = "";
        if (hiddenStart >= 0 && hiddenWord != null && hiddenCategory != null) {
            newHref = '/catalog?start=' + hiddenStart + '&category=' + hiddenCategory + '&word=' + hiddenWord + '&filter=' + hiddenCatalog;
            previous.setAttribute("href", newHref);
        } else if (hiddenStart >= 0) {
            newHref = '/catalog?start=' + hiddenStart + '&category=' + 'Todos' + '&word=' + '' + '&filter=' + hiddenCatalog;
            previous.setAttribute("href", newHref);
        }

    }

    let eye = document.getElementById('eyeid');

    eye.addEventListener("click", function () {
        var passwordField = document.getElementById('password');

        if (passwordField.type === 'password') {
            eye.className = "bi bi-eye-slash-fill show-password-icon-index";
            passwordField.type = 'text';
        } else {
            eye.className = "bi bi-eye-fill show-password-icon-index";
            passwordField.type = 'password';
        }
    })

    function convertirANumeroDeEstrellas(numero) {
        var starsHtml = '';
        var entero = Math.floor(numero);
        var decimal = numero - entero;
        for (var i = 0; i < entero; i++) {
            starsHtml += '<span><i class="bi bi-star-fill" style="color: #ffe234"></i></span>';
        }
        if (decimal >= 0.5) {
            starsHtml += '<span><i class="bi bi-star-half" style="color: #ffe234"></i></span>';
            entero++;
        }
        for (var j = entero; j < 5; j++) {
            starsHtml += '<span><i class="bi bi-star"></i></span>';
        }
        return starsHtml;
    }

    document.addEventListener("DOMContentLoaded", function () {
        var starsElements = document.getElementsByClassName("stars");

        for (var i = 0; i < starsElements.length; i++) {
            var numeroPuntuacion = starsElements[i].value;
            var ratingContainer = starsElements[i].nextElementSibling;
            ratingContainer.innerHTML = convertirANumeroDeEstrellas(numeroPuntuacion);
        }
    });
</script>
</html>