<!DOCTYPE html>
<header th:replace="tools/package :: #package-include"></header>
<header th:replace="tools/header :: #header-include"></header>

<body>
<div class="container-xl f-pr px-4 mt-4">
    <div th:replace="tools/Messages :: #messages-fragment"></div>
    <div class="row">
        <div class="row d-flex align-items-center mb-2">
            <div class="col d-flex justify-content-start">
                <a th:href="@{'/profile/' + ${EditProfileDtoForm.username}}">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i> Atrás
                    </button>
                </a>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto de perfil</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2"
                    th:src="'data:' + ${EditProfileDtoForm.imageType} + ';base64,' + ${EditProfileDtoForm.image}" alt="Profile image"
                         style="max-height: 100%; max-width: 100%">
                    <div class="small font-italic text-muted mb-4">Imagen de perfil, no más de 5MB</div>
                    <form th:action="@{/editprofile/updatephoto}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                        <input type="file" name="profileImage" id="profileImage" th:field="*{UpdateImageProfileDtoForm.imageFile}" style="display:none;" required />
                        <label for="profileImage" class="btn btn-primary mb-2" style="width: 85%">Actualizar</label>
                            </div>
                            <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-success" style="width: 85%">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8 mb-3">
            <div class="card mb-4">
                <div class="card-header">Detalles de la cuenta</div>
                <div class="card-body">
                    <form th:action="@{/editprofile/modify}" id="miFormulario" method="post">
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Nombre de usuario (Este nombre es único y será
                                tu identificador)</label>
                            <input class="form-control" id="inputUsername" type="text"
                                   placeholder="Introduce tu nombre de usuario"
                                   th:value="*{EditProfileDtoForm.username}" th:field="*{EditProfileDtoForm.username}"
                                   required>
                            <p class="hide_alert text-danger" id="alert_user">El campo Nombre de usuario es
                                obligatorio</p>
                            <p class="hide_alert text-danger" id="alert_user2">El campo Nombre de usuario no puede
                                contener
                                símbolos especiales</p>
                            <br class="hide_alert" id="br5">
                            <p class="hide_alert text-danger" id="alert_user3">El campo Nombre de usuario debe
                                contener al
                                menos
                                6 caracteres</p>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Correo electrónico</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                   placeholder="Introduce tu correo electrónico" th:value="*{EditProfileDtoForm.email}"
                                   th:field="*{EditProfileDtoForm.email}" required>
                            <p class="hide_alert text-danger" id="alert_email">El campo Email es obligatorio</p>
                            <p class="hide_alert text-danger" id="alert_email1">El campo Email no sigue el formato
                                correcto</p>
                        </div>
                        <!-- Save changes button-->
                        <div class="row d-flex">
                            <div class="col-md-3 col-sm-3 d-flex flex-column flex-sm-row">
                                <button class="btn btn-primary mb-2 mb-sm-0" type="submit">Guardar cambios</button>
                            </div>

                            <div class="col-md-3 col-sm-3 d-flex flex-column flex-sm-row">
                                <a href="#removeModal" class="btn btn btn-danger" data-bs-toggle="modal">Eliminar
                                    cuenta</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="card mt-3">
                <div class="card-header">Seguridad de la cuenta</div>
                <div class="card-body">
                    <form th:action="@{/editprofile/changepassword}" method="post" id="miFormulario2">
                        <div class="mb-3">
                            <label class="small mb-1" for="inputlastPass">Contraseña actual</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control " id="inputlastPass"
                                       th:field="*{ChangePasswordDtoForm.oldPass}"
                                       placeholder="Introduce tu contraseña actual" aria-label="Contraseña actual"
                                       aria-describedby="basic-addon2" required>
                                <span class="input-group-text" id="basic-addon2" style="background-color: #f7f7f7"><i
                                        class="bi bi-eye-fill show-password-icon-index" id="eyeid"
                                        style="font-size: 1.3em"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputPass1">Nueva contraseña</label>
                            <input class="form-control" id="inputPass1" type="password"
                                   placeholder="Introduce tu nueva contraseña"
                                   th:field="*{ChangePasswordDtoForm.newPassword}" required>
                            <p class="hide_alert text-danger" id="alert_pass3">La contraseña debe contener al menos
                                una
                                letra minúscula</p>
                            <br class="hide_alert" id="br1">
                            <p class="hide_alert text-danger" id="alert_pass4">La contraseña debe contener al menos
                                una
                                letra mayúscula</p>
                            <br class="hide_alert" id="br2">
                            <p class="hide_alert text-danger" id="alert_pass5">La contraseña debe contener al menos
                                un
                                número</p>
                            <br class="hide_alert" id="br3">
                            <p class="hide_alert text-danger" id="alert_pass6">La contraseña debe contener al menos
                                8
                                caracteres</p>
                            <br class="hide_alert" id="br4">
                            <p class="hide_alert text-danger" id="alert_pass7">La contraseña debe contener al menos
                                1
                                caracter especial</p>

                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputPass2">Repite contraseña</label>
                            <input class="form-control" id="inputPass2" type="password"
                                   placeholder="Repite tu nueva contraseña">
                            <p class="hide_alert text-danger" id="alert_pass2">Las contraseñas deben coincidir</p>
                        </div>
                        <button class="btn btn-primary" type="submit">Cambiar
                            contraseña
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="removeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Estás seguro?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row iconx-size">
                    <i class="bi bi-x-circle"
                       style="color: red; display: flex; justify-content: center; align-items: center"></i>
                </div>
                <div class="row mt-3">
                    <p>¿Estás seguro de que deseas eliminar tu cuenta? Este proceso es definitivo. </p>
                </div>


            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar
                </button>
                <form th:action="@{'/editprofile/remove/' + ${EditProfileDtoForm.username}}" method="post" id="delete-form">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<footer th:replace="tools/footer :: #footer-include"></footer>

<script>
    const formulario = document.getElementById('miFormulario');
    const formulario2 = document.getElementById('miFormulario2');
    let eye = document.getElementById('eyeid');

    eye.addEventListener("click", function () {
        var lastpassword = document.getElementById('inputlastPass');
        var newpass = document.getElementById('inputPass1');
        var newpass2 = document.getElementById('inputPass2');
        password = document.querySelector('.password');

        if (lastpassword.type === 'password') {
            eye.className = "bi bi-eye-slash-fill show-password-icon-index";
            lastpassword.type = 'text';
            newpass.type = 'text';
            newpass2.type = 'text';
        } else {
            eye.className = "bi bi-eye-fill show-password-icon-index";
            lastpassword.type = 'password';
            newpass.type = 'password';
            newpass2.type = 'password';
        }
    })

    function comprobarPass() {
        var password = document.getElementById("inputPass1").value;
        document.getElementById("alert_pass3").className = "hide_alert text-danger";
        document.getElementById("alert_pass4").className = "hide_alert text-danger";
        document.getElementById("alert_pass5").className = "hide_alert text-danger";
        document.getElementById("alert_pass6").className = "hide_alert text-danger";
        document.getElementById("alert_pass7").className = "hide_alert text-danger";
        document.getElementById("br1").className = "hide_alert";
        document.getElementById("br2").className = "hide_alert";
        document.getElementById("br3").className = "hide_alert";
        document.getElementById("br4").className = "hide_alert";
        var bol = false;


        if (/[a-z]/.test(password) === false) {
            document.getElementById("alert_pass3").className = "show_alert text-danger";
            document.getElementById("br1").className = "show_alert";
            bol = true;
        }
        if (/[A-Z]/.test(password) === false) {
            document.getElementById("alert_pass4").className = "show_alert text-danger";
            document.getElementById("br2").className = "show_alert";
            bol = true;
        }
        if (/\d/.test(password) === false) {
            document.getElementById("alert_pass5").className = "show_alert text-danger";
            document.getElementById("br3").className = "show_alert";
            bol = true;
        }
        if (/.{8,}/.test(password) === false) {
            document.getElementById("alert_pass6").className = "show_alert text-danger";
            document.getElementById("br4").className = "show_alert";
            bol = true;
        }
        if (/[!@#$%^&*(),.?":{}|<>]/.test(password) === false) {
            document.getElementById("alert_pass7").className = "show_alert text-danger";
            bol = true;
        }
        return bol;

    }

    formulario.addEventListener('submit', function (evento) {
        const username = document.getElementById("inputUsername").value;
        const email = document.getElementById("inputEmailAddress").value;
        const validEmail = /^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/;
        const invalidUsername1 = /^[a-zA-Z0-9]*$/;
        const invalidUsername2 = /^(?=.{6,})/;

        if (invalidUsername1.test(username) === false && username !== "") {
            document.getElementById("alert_user2").className = "show_alert text-danger";
            evento.preventDefault();
        }
        if ((invalidUsername1.test(username) === false) && (invalidUsername2.test(username) === false)) {
            document.getElementById("br5").className = "show_alert";
        }
        if (invalidUsername2.test(username) === false && username !== "") {
            document.getElementById("alert_user3").className = "show_alert text-danger";
            evento.preventDefault();
        }
        if (validEmail.test(email) === false && (email !== "")) {
            document.getElementById("alert_email1").className = "show_alert text-danger";
            evento.preventDefault();
        }
    });

    formulario2.addEventListener('submit', function (evento) {
        let reg = false;
        var pass1 = document.getElementById("inputPass1");
        var pass2 = document.getElementById("inputPass2");
        document.getElementById("alert_pass2").className = "hide_alert text-danger";

        if (pass1.value !== pass2.value || pass1.value === "") {
            document.getElementById("alert_pass2").className = "show_alert text-danger";
            evento.preventDefault();
        }
        if (pass1.value !== "") {
            reg = comprobarPass();
        }
        if (reg === true){
            evento.preventDefault();
        }
    });



</script>


</html>