<!DOCTYPE html>
<html lang="en">
    <header th:replace="package :: #package-include"></header>
<body>

<h1>Registrate</h1>
<form th:action="@{/}" method="post">
    <label for="username">Username</label>
    <br>
    <input id="username" type="text" name="username" th:field="*{UserDtoForm.username}">
    <br>
    <label for="email">Email</label>
    <br>
    <input id="email" type="email" name="email" th:field="*{UserDtoForm.email}">
    <br>
    <label for="password">Contrasena</label>
    <br>
    <input id="password" type="password" name="password" th:field="*{UserDtoForm.password}">
    <br>
    <input type="submit" value="Register">
    <br>
</form>

</body>

</html>
