<!DOCTYPE html>
<html lang="en">
<header th:replace="tools/package :: #package-include"></header>
<header th:replace="tools/header :: #header-include"></header>
<body>

<div class="container">
    <div class="row mt-2">
    <div th:replace="tools/Messages :: #messages-fragment"></div>
    </div>
    <form th:action="@{/managecourses/{courseId}/editcourses/{moduleId}/editcontent/{contentId}/save(courseId=${TeoricDtoFormShow.courseId}, moduleId =${TeoricDtoFormShow.moduleId}, contentId = ${TeoricDtoFormShow.contentId})}" method="post" class="" id="miFormulario">
    <div class="row mt-2 mb-2">
        <div class="col">
    <a th:href="@{/managecourses/{courseId}/editcourses(courseId=${TeoricDtoFormShow.courseId})}">
        <button type="button" class="btn btn-primary">
            <i class="bi bi-arrow-left"></i> Atrás
        </button>
    </a>
        </div>
        <div class="col d-flex justify-content-end">
            <button id="btnSave" type="submit" class="btn btn-info" style="margin-right: 10px">Guardar
                cambios
            </button>
        </div>
    </div>

    <label for="markdownContent"></label>
    <textarea th:text="${TeoricDtoFormShow.markdown}" th:field="${TeoricDtoFormShow.markdown}" class="form-control" id="markdownContent" rows="3"></textarea>
    </form>

</div>
</body>
<footer th:replace="tools/footer :: #footer-include"></footer>
</html>


<script>
    var simplemde = new SimpleMDE({element: document.getElementById("markdownContent")});
</script>