<!DOCTYPE html>
<html lang="en">
<header th:replace="tools/package :: #package-include"></header>
<header th:replace="tools/header :: #header-include"></header>
<body>
<div class="container mt-5 mb-3">
    <div th:replace="tools/Messages :: #messages-fragment"></div>
    <div class="row d-flex align-items-center mb-2">
        <div class="col d-flex justify-content-start mb-2">
            <a th:href="@{'/profile/' + ${username}}">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left"></i> Atrás
                </button>
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-danger" href="#removeinscriptionModal" data-bs-toggle="modal">Abandonar
            </button>
        </div>
    </div>
    <div class="card p-3 mb-3" th:each="modules : ${ModuleDtoList}">
        <div class="d-flex justify-content-between" style="cursor: pointer">
            <h4 data-bs-toggle="collapse" th:attr="data-bs-target='#collapse-' + ${modules.id}"
                th:text="${modules.moduleName}"></h4>
            <div>
                <div th:if="${modules.completed == true}">
                    <i class="bi bi-clipboard-check" style="color: limegreen; font-size: 20px"></i>
                </div>
                <div th:if="${modules.completed == false}">
                    <i class="bi bi-clipboard2-x" style="color: orangered; font-size: 20px"></i>
                </div>
                <div th:if="${modules.completed == null}">
                    <i class="bi bi-clipboard-minus" style="color: #1d70a2; font-size: 20px"></i>
                </div>
            </div>
        </div>
        <div th:id="'collapse-' + ${modules.id}" class="collapse" aria-labelledby="headingOne">
            <div th:each="content : ${modules.contentList}">
                <a th:href="@{'/course/' + ${courseId} +'/module/'+${modules.id} +'/learn/' + ${content.contentId}(contenttype=${content.contentType})}"
                   style="text-decoration: none;">
                    <div class="card p-3 mt-3 text-dark" style="background-color: #dedede">
                        <div class="d-flex justify-content-between"
                             style="cursor: pointer; color: #173753">
                            <div th:if="${content.contentType == 'puzzle'}">
                                <h4>
                                    <i class="bi bi-puzzle" style="color:limegreen;"></i>
                                    <span th:text="${content.contentName}"></span>
                                </h4>
                            </div>
                            <div th:if="${content.contentType == 'select'}">
                                <h4>
                                    <i class="bi bi-question-lg" style="color: orangered "></i>
                                    <span th:text="${content.contentName}"></span>
                                </h4>
                            </div>
                            <div th:if="${content.contentType == 'teoric'}">
                                <h4>
                                    <i class="bi bi-file-text" style="color: #1d70a2"></i>
                                    <span th:text="${content.contentName}"></span>
                                </h4>
                            </div>
                            <div>
                                <div th:if="${content.completed == true}">
                                    <i class="bi bi-clipboard-check" style="color: limegreen; font-size: 20px"></i>
                                </div>
                                <div th:if="${content.completed == false}">
                                    <i class="bi bi-clipboard2-x" style="color: orangered; font-size: 20px"></i>
                                </div>
                                <div th:if="${content.completed == null}">
                                    <i class="bi bi-clipboard-minus" style="color: #1d70a2; font-size: 20px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div th:if="${commentDtoForm.creation_date == null}" class="card p-3 mb-3" style="background-color: #f0f0f0">
        <div class="row align-content-center">
            <div class="col">
                <h6>No has añadido ningún comentario para el curso</h6>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-info" href="#addcommentModal" data-bs-toggle="modal">Añadir
                    comentario
                </button>
            </div>
        </div>
    </div>
    <input id="stars" type="hidden" name="stars" th:value="${commentDtoForm.grade}">
    <div th:if="${commentDtoForm.creation_date != null}" class="card p-3 mb-3" style="background-color: #f0f0f0">
        <div class="comment mt-2 justify-content-center">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img th:src="'data:' + ${commentDtoForm.imageType} + ';base64,' + ${commentDtoForm.image}"
                         alt="Profile image" class="rounded-circle" width="40" height="40"
                         style="border: 2px solid dodgerblue;">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-10">
                    <h4 th:text="${commentDtoForm.username}"></h4>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <span th:text="${commentDtoForm.creation_date}"></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 d-flex justify-content-end">
                    <i id="edit-icon" class="bi bi-pencil-fill me-2" data-bs-toggle="modal"
                       data-bs-target="#editcommentModal" style="cursor:pointer;"></i>
                    <i id="delete-icon" class="bi bi-trash-fill" data-bs-toggle="modal"
                       data-bs-target="#removecommentModal"
                       style="cursor:pointer; color: red;"></i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h5 th:text="${commentDtoForm.description}"></h5>
                </div>
                <div class="col-2">
                    <div id="ratingStars"></div>
                </div>
            </div>
            <br>
            <p th:text="${commentDtoForm.commentary}"></p>
        </div>
    </div>
    <div class="card p-3 mb-3" style="background-color: #f0f0f0">
        <div class="row d-flex justify-content-start">
            <div th:if="${DiplomaDtoForm.courseCompleted == false}" class="col-2">
                <span><i class="bi bi-lock" style="font-size: 25px"></i></span>
            </div>
        </div>
        <div th:if="${DiplomaDtoForm.courseCompleted == true}" class="row d-flex justify-content-center">
            <div class="col-2">
                <span><img src="/images/certificate.png" style="width: 100%; height: 100%; color: #173753"
                           alt="certificado"></span>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <h4 class="text-center">Tu certificado ya está listo</h4>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <p class="text-center">Felicidades, has completado el curso y ya puedes obtener tu certificado</p>
                    <p th:if="${DiplomaDtoForm.paymentCompleted == false}" class="mt-2 text-center">Realiza el pago para obtener el diploma</p>
                    <div th:if="${DiplomaDtoForm.paymentCompleted == false}" class="mt-2 text-center" id="paypal-button-container"></div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <div class="col-5 col-sm-3 col-md-3 col-lg-2">
                    <form th:action="@{'/course/' +${courseId}+ '/createDiploma'}" method="post">
                        <input type="hidden" id="coursePrice" th:value="${DiplomaDtoForm.price}">
                        <input type="hidden" id="payment" th:value="${DiplomaDtoForm.paymentCompleted}">
                        <button type="submit" class="btn btn-primary"> Obtener certificado
                        </button>
                    </form>
                </div>
            </div>


            <script>
                paypal.Buttons({
                    createOrder() {
                        return fetch("/my-server/create-paypal-order", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                cart: [
                                    {
                                        sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                                        quantity: "YOUR_PRODUCT_QUANTITY",
                                    },
                                ],
                            }),
                        })
                            .then((response) => response.json())
                            .then((order) => order.id);
                    },
                    onApprove(data) {
                        return fetch("/my-server/capture-paypal-order", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                orderID: data.orderID
                            })
                        })
                            .then((response) => response.json())
                            .then((orderData) => {
                                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                const transaction = orderData.purchase_units[0].payments.captures[0];
                                alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                            });
                    }
                }).render('#paypal-button-container');
            </script>
        </div>
        <div th:if="${DiplomaDtoForm.courseCompleted == false}" class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-2">
                    <span><img src="/images/certificate.png" style="width: 100%; height: 100%" alt="certificado"></span>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <h4 class="text-center">Tu certificado aún no está listo</h4>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <p class="text-center">Falta poco para obtener tu certificado, sigue así y completa todo el
                    temario. </p>
            </div>
        </div>
    </div>
    <div th:replace="addcomment :: #addcommentModal"></div>
    <div th:replace="editcomment :: #editcommentModal"></div>
    <div th:replace="removecomment :: #removecommentModal"></div>
    <div th:replace="removeinscription :: #removeinscriptionModal"></div>
    <script>
        function getGrade() {
            const inputGrade = document.getElementById("inputGrade");
            document.querySelectorAll('.grade input').forEach(input => {
                if (input.checked) {
                    inputGrade.field = parseInt(input.value);

                }
            });
        }

        function convertirANumeroDeEstrellas(numero) {
            var starsHtml = '';
            var entero = Math.floor(numero);
            for (var i = 0; i < entero; i++) {
                starsHtml += '<span><i class="bi bi-star-fill" style="color: #ffe234"></i></span>';
            }
            for (var j = entero + 1; j <= 5; j++) {
                starsHtml += '<span><i class="bi bi-star" style="color: black"></i></span>';
            }

            return starsHtml;
        }

        document.addEventListener("DOMContentLoaded", function () {
            var numeroPuntuacion = document.getElementById("stars").value;
            var ratingContainer = document.getElementById("ratingStars");
            ratingContainer.innerHTML = convertirANumeroDeEstrellas(numeroPuntuacion);
        });

        function getGrade2() {
            const inputGrade = document.getElementById("inputEditGrade");
            document.querySelectorAll('.grade input').forEach(input => {
                if (input.checked) {
                    inputGrade.field = parseInt(input.value);

                }
            });
        }


    </script>
</div>
<footer th:replace="tools/footer :: #footer-include"></footer>
</body>
</html>